<div class="card card-container post-form" id="text">
	<% if @photos %>
	<h3>Edit listing</h3>
		<div class="photos">
			<% @photos.each do |img| %>
				<%= image_tag (img.to_s) %>
			<% end %>
		</div>
	<% end %>
	<%= form_for(:post, url: posts_path) do |f| %>
		  	<%= f.label :address %>
				<%= f.text_field :address, class: "address form-control", placeholder: "Enter Address Here", required: true %>
				<%= f.label :city %>
				<%= f.text_field :city, class: "city form-control"%>
				<%= f.label :state %>
				<%= f.text_field :state, class: "state form-control" %>
				<%= f.label :zip %>
				<%= f.text_field :zip, class: 'zip form-control', required: true %>
				<%= f.label :bedroom, id:"bedrooms" %>
				<%= f.select(:bedroom, options_for_select([['1', 1],['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7]]), id: 'bedroooms')%>
				<%= f.label :bathroom, id:'baths' %>
				<%= f.select(:bathroom, options_for_select([['1', 1], ['1.5', 1.5], ['2', 2], ['2.5', 2.5], ['3', 3], ['3.5', 3.5], ['4', 4], ['4.5', 4.5], ['5', 5], ['5.5', 5.5], ['6', 6], ['6.5', 6]]), id:'baths')%>
				<br/><br/>
				<%= f.label :square_feet %>
				<%= f.text_field :square_feet, class: "square_feet form-control" %>
				<%= f.label :price %>
				<%= f.text_field :price, class: "price form-control" %>
				<%= f.label :description %>
				<%= f.text_area :description, class: "description form-control" %>
				<%= f.label :youtube_code %>
				<%= f.text_area :youtube, class: "form-control" %>
				<%= f.label :photo_upload %>
				<%= f.file_field :photos, multiple: true %>
				<%= f.submit "Submit", class: "form-control"%>
	<% end %>
</div>